.logo {
    text-align: center;
    font-size: 5em;
    color: #383081;
    ;
}

.main-class {

}
.details-container {
text-align: center;

}

.details-image {
width: 700px;
}

.details-title {
display:inline-block;
font-size: 1.3em;
text-align: left;
margin-top: 50px;
margin-bottom: 50px;
margin-left:  200px;
margin-right: 200px;

}

.thumbnails-list1 {
list-style: none;
display: flex;
justify-content: space-evenly;


}

.thumbnails-list2{
    list-style: none;
    display: flex;
justify-content: space-evenly;
}

.thumbnails-item {

}

.thumbnails-anchor {
    text-decoration: none;
}

.thumbnails-image {
width: 200px;
height: 150px;

}

.thumbnails-title {
display: block;
font-size: 1.5em;
color: #383081;

}

body {
    background-color: #EEF1FF;
}