@font-face {
    font-family: lakeshore;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff");
}
@font-face {
    font-family: airstream;
    src: url("fonts/Airstream-webfont.svg");
    src: url("fonts/Airstream-webfont.woff");
}

:root {
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height)*0.33);
}

body, html {
    height: 100%;
  
}

body {
    display: flex;
    flex-direction: column;
    background-color: #EEF1FF;
    margin: 0;
}



.logo {
    text-align: center;
    font-size: 2em;
    color: #383081;
    background-color: #FFF6BF;
    display: block;
    font-family: lakeshore;
    text-transform: uppercase;
}

.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

}
.details-container {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 10vh;
position: relative;

}

.details-image {
width: 80vw;
height: 70vw;
border-radius: 25%;

}

.details-title {
display: block;
color: #16123c;
font-family: airstream;
font-style: italic;
background-color: #FFF6BF;
position: absolute;
left: 3vw;
bottom: 2vw;
font-size: 2em;


}

.thumbnails-list {
list-style: none;
display: flex;
flex-direction: row;
flex-wrap: wrap;
max-height: 25vh;
overflow-y: auto;
justify-content: space-around;
padding-left: 0;
padding-right:  2vw;
margin: 0;               
padding-left: 2vw;

}






.thumbnails-item {
max-width: var(--thumbnails-img-width);
min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
margin-top: 2.5vh;
border: solid 1.5px #383081;
border-radius: 25%;
overflow:hidden;



}

.thumbnails-anchor {
    text-decoration: none;

    
}

.thumbnails-image {
width: var(--thumbnails-img-width);
height: var(--thumbnails-img-height);
display: block;


}

.thumbnails-title {
    display: block;
text-align: center;
height: var(--thumbnails-title-height);
background-color: #FFF6BF;
color: #383081;

}
.thumbnails-item:hover {
    transform: scale(1.1);
   
}

@media (min-width: 560px) {
    .thumbnails-list{
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 85vh;
        order: -1;
        justify-content: flex-start;
    }
    .main-class{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .details-image{
        width: 40vw;
        height: 30vw;
    }
    .details-container{
        margin-right: 5vw;
        margin-top: 5vw;
    }
    .details-title {
        left: 0;
      
    }
    :root {
        --thumbnails-img-width: 12vw;
        --thumbnails-img-height: 8vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height)*0.25);
    }

 
}
@media (min-width: 900px) {
    ::-webkit-scrollbar {
        width: 12px;
        
    }
    ::-webkit-scrollbar-track {
        background: #d4d4d4;
        border-radius: 8px
        
    }
    ::-webkit-scrollbar-thumb {
        background: #FFF6BF;
        border-radius: 8px;
        border: 2px solid #d4d4d4
    }

       
}

